*{
    margin: 0;
}
.home{
    background-color: #F7ECDE;
}
.home h1{
    font-family: Pacifico, cursive;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: rgb(53, 46, 40);
    z-index: 1;
}
.home h1::after{
 content: '';
 background-color: #FEC260;
 width: 100%;
 height: 22%;  
 position: absolute;
 z-index: -1;
 transition: height 350ms;
 left: 0%;
 bottom: 3px;
}
.home h1:hover::after{
 height: 50%;   
}   
.line{
    border-style: dotted !important;
    border-color: #000000 !important;
}
.home2 h2{
    font-family: Righteous, cursive ;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    background-clip: text;
    -webkit-text-fill-color: transparent;   
}
#icon1{
    color: #3FA55B !important;
}
#icon2{
    color: #B2AC4A;
}
.form-control:focus {
    box-shadow:0 0 0 0.25rem #fec26055 !important ;
    border-color: #d99c39;
}
#siteName{
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;  
    color: rgb(33, 37, 41);
}
#siteUrl{
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;  
    color: rgb(33, 37, 41);
}
.btn-submit {
    --bs-btn-color: #fff;
    --bs-btn-bg: #d1512d;
    --bs-btn-border-color: #d1512d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb4120;
    --bs-btn-hover-border-color: #a03315;
}
.table{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    --bs-table-bg: transparent  ;
}
.table thead tr th {
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
    color: rgb(33, 37, 41);
}
.f-result{
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgb(33, 37, 41);
    opacity: 90%;
}
.btn-visit{
    color: white;
    background-color: #9eb23b;
    border-color: #9eb23b;
}
.btn-visit:hover{
    color: white;
    background-color: #8a9e23;
    border-color: #6e8018;
}
.btn-delete{
    color: white;
    background-color: #eb1d36;
    border-color: #eb1d36;
}
.btn-delete:hover{
    color: white;
    background-color: #d30820;
    border-color: #ba081d;
}